Poppins 300,400,500,600
Helvetica
open sans 600

#000000 black
#FFFFFF white
#009046 green
#E21E26; red
background: #F8F8F8; slightly white

background: linear-gradient(179.84deg, #FF0003 0.14%, rgba(255, 0, 3, 0) 136.17%);
box-shadow: 0px 8px 9px 0px #FF000340;


html code for a footer which has two rows.The first row contains three parts or sections side by side .
In the first part there is a logo followed by subtext under the logo.In the second part there are five rows each row containing hyperlinks.The first row has Home, Offers, FAQ, Career.The second row has About Us, Locations, Privacy Policy, Terms & Conditions.The third row consists of Services , Contact Us, Service Request.The fourth row only has Al Habtoor Companies.The fourth row has Hospitality, Real Estate, Education, Publishing, Automotive, Vehicle Leasing.The third and final part has follow us on followed by 5 social icons as links below it and two other icons side by side below the social icons.Finally the second row of the footer has the sentence © 2018 Diamondlease LLC - All Rights Reserved.